.container-search-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  margin: 10px 0;
}

.container-input {
  margin: 5px 0;
}

input {
  width: 60vw;
  height: 25px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

@media (min-width:481px){
  input {
    height: 40px;
  }
}

button {
  width: 20vw;
  height: 25px;
  margin: 0 5px;
  border: 2px solid white;
  background-color: black;
  color: white;
  border-radius: 10px;
}

@media (min-width:481px){
  button {
    width: 200px;
    height: 40px;
  }
}

.ubicationDate {
  margin: 3px;
}

@media (min-width:481px){
  .ubicationDate {
    margin: 3px;
    font-size: 28px;
  }
}

h2 {
  text-align: center;
  color: #3498DB ;
}

@media (min-width:481px){
  h2 {
    text-align: center;
    font-size: 38px;
  }  
}

@media (min-width:481px){
  .container-info {
    display: flex;
    gap: 5vw;
  }
  .listResidents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 200px;
    margin-right: 200px;
  }
}
