.container-search-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  margin: 10px 0;
}

.container-input {
  margin: 5px 0;
}

input {
  width: 60vw;
  height: 25px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

button {
  width: 20vw;
  height: 25px;
  margin: 0 5px;
  border: 2px solid white;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.ubicationDate {
  margin: 3px;
}